<ul class="nav nav-pills">
    <li class="nav-item">
        {% set isActive = 0 == category_id %}
        <a class="nav-link {{ isActive ? ' active' }}" aria-current="page" href="{{ path('app_home') }}">All</a>
    </li>
    {% for category in categories %}
        {% set isActive = category.id == category_id %}
        <li class="nav-item">
            <a class="nav-link {{ isActive ? ' active' }}" href="{{ path('app_home_articlelist',{'id': category.id}) }}">{{ category }}</a>
        </li>
    {% endfor %}
</ul>