{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mt-4 col-12 row">
    <div class="mt-5 col-12"  id="articleDisplay" >

        <div class="mt-4">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description|raw }}</p>
            <p><small>{{ article.tags }}</small></p>
            <div class="col-12 row">
                <div class="col-3">
                    <a class="btn btn-block btn-primary" href="{{ path('app_article_like',{'id': article.id}) }}"><i class="fa fa-thumbs-up">Like</i></a>
                </div>
                <div class="col-9">
                    Total Like Count: <span id="likecount">{{ likecount }}</span>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
