{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div >
        <h1>Welcome</h1>
        <div class="example-wrapper">
            {{ include('article/_search_form.html.twig') }}
            <div class="my-5"  id="articleDisplay" >
                {{ include('article/_tabs.html.twig') }}
                <div class="mt-4 col-12 row">
                    {% for article in articles %}
{#                        <h5>{{ article.title }}</h5>#}
{#                        <p><small>{{ article.tags }}</small></p>#}
{#                        <p>{{ article.description|raw }}.. <a href="{{ path('app_article_display',{'id': article.id}) }}">Read More</a></p>#}
{#                        <hr>#}
                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <p class="card-text"><small>{{ article.tags }}</small>
                                        {{ article.description|raw }}..
                                    </p>
                                    <a href="{{ path('app_article_display',{'id': article.id}) }}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
